body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.h-left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.h-right {
    display: flex;
    gap: 15px;
}

.h-left, .h-right {
    flex-shrink: 0;
}

.h-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
}

.h-text {
    font-size: 18px;
    color: #E5E7EB;
    
}

.h-cont-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 370px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-container {
    display: flex;
    margin-top: 70px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.h-cont-right {
    display: flex;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center; 
    height: 250px;
    width: 400px;
    flex: 1 auto;
}

.h-cont-left {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 370px;
    
}

.h-button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: 900;  
    border-radius: 10px; 
}

.h-text {
    padding-bottom: 5px;
}

.top-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding: 40px 70px;
    
}

.top-body-info {
    height: 50px;
}

.boxes-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-top {
    border: 3px solid #3882F6;
    height: 140px;
    width: 140px;
    border-radius: 15px;
}

.box-sub {
    width: 140px;
    text-align: center;
    margin-top: 5px;
}

.mid-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #E5E7EB;
    
}

.mid-body-text {
    width: 620px;
    font-size: 36px;
    font-style: italic;
    color: #373839;
}

.signature {
    display: flex;
    width: 500px;
    /* border: 1px solid black; */
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: 700;
}

.lower-body {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lower-body-box {
    height: 150px;
    width: 900px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    
}

.lower-body-title {
    font-weight: 700;
    font-size: 26px;
    flex: auto;
}

.lower-body-text {
    font-size: 20px;
    width: 600px;
    flex: auto;
}

.lower-button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    font-size: 18px;
    padding: 7px 18px;
    border-radius: 15px;
}