body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.h-left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.h-right {
    display: flex;
    gap: 15px;
}

.h-left, .h-right {
    flex-shrink: 0;
}

.h-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
}

.h-text {
    font-size: 18px;
    color: #E5E7EB;
    
}

.h-cont-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 370px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-container {
    display: flex;
    margin-top: 70px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.h-cont-right {
    display: flex;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center; 
    height: 250px;
    width: 400px;
    flex: 1 auto;
}

.h-cont-left {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 370px;
    
}

.h-button {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 115, 255);
    color: white;
    font-weight: 900;   
}

.h-text {
    padding-bottom: 5px;
}

.top-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px;
}

.top-body-info {
    height: 50px;
}

.boxes-container {
    display: flex;
    border: 1px solid black;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-top {
    border: 3px solid #3882F6;
    height: 140px;
    width: 140px;
}

.box-sub {
    width: 140px;
    text-align: center;
}